/* main stylesheet for BackboneDasboard */

body {
  font-family: 'Roboto', 'Calibri', 'Lucida-Sans', 'Arial', sans-serif;
  margin: 1%;
  background-image: url('http://i.imgur.com/8rQCrfd.jpg');
  background-size: cover;
}
h1 {
  font-family: 'Roboto', Arial, sans;
  color: blue;
  text-shadow: 2px 1px 3px white;
  font-size: 40px;
  margin: 1px;
}

h2,h3,h4,h5,h6 {
  font-family: 'Droid Serif', 'Times New Roman', 'Times', serif;
  color: rgba(10,60,150, 0.8);
  text-shadow: 1px 1px 1px lightyellow, 0 0 0 #000, 1px 1px 1px #def;
  margin-top: 2px;
  margin-bottom: 2px;
}


.row {
  display: block;
  margin: auto;
  clear: both;
  position: relative;
}

.block-half {
  display: block;
  float: left;
  margin: 5px;
  padding: 2px;
  position: relative;
  width: 46%;
  border-radius: 10px;
}

.block-half:nth-child(1) {
  background-color: rgba(39, 174, 96,1.0);
}
.block-half:nth-child(2) {
  background-color: rgba(22, 160, 133,1.0);
}


.block-third {
  display: block;
  float: left;
  margin: 5px;
  padding: 2px;
  position: relative;
  width: 30%;
  border-radius: 10px;
}

.block-third:nth-child(1) {
  background-color: #3498db;
}
.block-third:nth-child(2) {
  background-color: #9b59b6;
}
.block-third:nth-child(3) {
  background-color: #34495e;
}


.block-quarter {
  display: block;
  float: left;
  margin: 5px;
  padding: 2px;
  position: relative;
  width: 22%;
  border-radius: 10px;
}
.block-quarter:nth-child(1) {
  background-color: #bdc3c7;
}
.block-quarter:nth-child(2) {
  background-color: #7f8c8d;
}

.shadow {
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 1px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 1px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.close {
  color: darkyellow;
  margin-top: 20px;
  border: 1px solid lightyellow;
  border-radius: 8px;
  font-weight: bold;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  font-size: 14px;
  float: right;
  position: relative;
  padding: 5px;
}

::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

/*
*  Media Queries
*/

@media only screen
  and (max-device-width: 760px) {
  /* tablet breakpoint not yet implemented */
}

@media only screen
and (max-device-width: 640px) {
  /* phablet breakpoint not yet implemented */
}

@media only screen
  and (max-device-width: 480px) {
  /* phone breakpoint not yet implemented */
}
