<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Backbone Dashboard</title>
  <link rel="stylesheet" href="/style/main.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="/scripts/jquery.js"></script>
  <script type="text/javascript" src="/scripts/underscore.js"></script>
  <script type="text/javascript" src="/scripts/backbone.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>

  <script type="text/template" id="stuff">

<article>
	<h2><%%= title %></h2>
	<h3><%%= subheader %></h3>

	<p><%%= message %></p>

	<button value='<%%= value_for_button %>'></button>

	<img src='<%%= img_src %>' alt='<%%= alt_text %>'>
</article>

</script>
</body>


</html>
